<br>
<br>
<br>
<br>
<%= link_to "Create New Crew", new_crew_path, :class => 'btn btn-small btn-success' %>
<br>
<h4 style="color:chartreuse; text-align:center; background-color: orangered"> Displaying Crew </h4>

<table class="table table-hover table-condensed table-bordered">

  <tr>
    <th> Category </th>
    <th> Name </th>
    <th> ACTION </th>
    <th> ACTION </th>
  </tr>

  <% @crews.each do |crew| %>
      <tr>
        <td>  <%= crew.category.upcase %> </td>
        <td>  <%= crew.name.upcase %> </td>
        <td> <%= link_to "EDIT",  edit_crew_path(crew), :class => "btn btn-small btn-warning"  %>  </td>
        <td> <%= link_to "DELETE", crew_path(crew), method: :delete, :class => "btn btn-small btn-danger" %>  </td>
      </tr>
  <% end %>

</table>