<h5> Displaying details of theatre</h5>
<hr>
<h6> Name:  <%= @theatre.name.upcase %> </h6> <br>
[ <small> <%= @theatre.place.upcase %> </small>] <br>
[<small> <%= @theatre.created_at %> | <%= @theatre.updated_at %> </small>]    <br> <br>

<%= link_to "Go Back to Theatre Page", theatres_path, :class => "btn btn-small btn-warning" %>
<%= link_to "Create Shows", new_show_path, :class => "btn btn-small btn-success" %>
