<br>
<br>
<br>
<br>
<%= link_to "Create New Movie", new_movie_path, :class => 'btn btn-small btn-success' %>
<br>

<h4 style="color:chartreuse; text-align:center; background-color: orangered"> Displaying Movies </h4>

<table class="table table-hover table-condensed table-bordered">
  <tr>
    <th>Name</th>
    <th>Place</th>

    <th> ACTION </th>
    <th> ACTION </th>
    <th> Create Cast </th>

  </tr>

  <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name.upcase, spot_movie_path(movie.id) %></td>
        <td><%= movie.language.capitalize %></td>

        <td> <%= link_to "EDIT", edit_movie_path(movie.id), :class => 'btn btn-mini btn-warning' %> </td>
        <td> <%= link_to "DELETE", movie_path(movie.id), :class => 'btn btn-mini btn-danger', method: :delete %> </td>
        <td> <%= link_to "Create Cast", new_cast_path, :class => 'btn btn-mini btn-success' %> </td>
      </tr>
  <% end %>
</table>

