
<h4> Displaying Shows and theatres for <br> <br> "<%= @movie.name.upcase %>" Movie </h4>

<hr>

<head>
  <style>

      table, td, th
      {
          border:2px solid blue;
      }
      th
      {
          background-color: royalblue;
          color:white;
      }
      td, th
      {
          padding:5px;
      }
      tr:nth-child(even) {background-color: white}
      tr:nth-child(odd) {background-color: lightcyan}
  </style>
</head>

<body>
<table>
  <tr>
    <th>MORNING (12:00) Show</th>
    <th>MATINEE (15:00) Show</th>
    <th>FIRST (18:00) Show</th>
    <th>SECOND (21:00) Show</th>
  </tr>

      <tr>
        <td>
          <% @show_mor.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_mat.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_fir.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_sec.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

      </tr>

</table>
</body>


