
<h4> Displaying Shows and theatres for <br> <br> "<%= @movie.name.upcase %>" Movie </h4>


<table class="table table-striped table-bordered">
  <tr>
    <th>MORNING (12:00) Show</th>
    <th>MATINEE (15:00) Show</th>
    <th>FIRST (18:00) Show</th>
    <th>SECOND (21:00) Show</th>
  </tr>

      <tr>
        <td>
          <% @show_mor.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_mat.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_fir.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

        <td>
          <% @show_sec.each do |show| %>
          <mark> <%= show.theatre.name.upcase %> </mark> <br>
          <% end %>
        </td>

      </tr>

</table>



